<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model:@user, local:true do |f| %>
        <% if @user.errors.any? %>
          <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <div class="form-group">
          <label for="user_name">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"user_name", placeholder:"名前"%>
        </div>
        <div class="form-group">
          <label for="user_Image">Image</label><br>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-group">
          <label for="user_introduction">Introduction</label><br>
          <%= f.text_area :introduction, autofocus: true, id:"user_introduction", placeholder:""%>
        </div>
        <div class="form-group">
          <%= f.submit "Update User", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



  
  
  
  
  
  
  