<%= render 'users/list', current_user: @book.user %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@book.user.id) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg" %>
          <% end %>
          <br>
          <%= link_to @book.user.name, user_path(@book.user.id) %>
        </td>
        <td>
          <%= link_to @book.title, book_path(@book.id) %>
        </td>
        <td>
          <%= @book.body %>
        </td>
        <% if @book.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book.id) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>




  
  
